@font-face {
    font-family: 'inconsolata';
    src: url('inconsolata.ttf');
}

:root {
    --panelBg: #D9EA95;
    --activePixel: #133700;
    --inactivePixel: #D1E195;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    margin-top: 20px;
}

#panel {
    display: flex;
    flex-wrap: wrap;
}

#lowerPanel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

#canvas {
    background-color: var(--panelBg);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

#pixel {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    border: 1px solid var(--panelBg);
    background-color: var(--inactivePixel);
}

#bitmap {
    box-sizing: border-box;
    font-family: 'inconsolata';
    background-color: #fdf6e3;
    padding: 20px;
    font-size: 85%;
    color: #222;
    min-width: 35vw;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#clear, #bytes, #createChar, #setCursor {
    margin-left: 20px;
}